footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid#424447;
  border-left: 1px solid#424447;
  border-right: 1px solid#424447;
  border-bottom: 1px solid#424447;
  box-sizing: border-box;
}