<footer class="p-2 bg-dark text-white">
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <div class="d-flex align-items-center">
      <span>&copy; {{ currentYear }} Developed by&nbsp;</span>
      <a
        href="https://linktr.ee/MR_ASK_Chay"
        target="_blank"
        class="fw-bold"
        rel="noopener noreferrer"
        style="color: #80eb7c;"
      >
        Sai Annam
      </a>
      <span>&nbsp;|</span>
    </div>

    <div class="ps-2 d-flex align-items-center">
      <span class="pe-2">&#64;mr_ask_chay |</span>

      <a
        href="https://github.com/otaku0304"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
        class="pe-2 d-flex align-items-center text-light"
      >
        <img
          src="https://cdn.simpleicons.org/github/ffffff"
          alt="GitHub icon"
          width="20"
          class="me-1"
        />
        GitHub
      </a>
    </div>
  </div>
</footer>
