<div class="container">
    <div class="content">
        <input type="file" (change)="onFileSelected($event)" accept="application/pdf">
        <button (click)="removePassword()">Remove Password</button>
        <p class="message" *ngIf="passwordRemoved">Password has been removed.</p>
        <ng-container *ngIf="passwordRemoved">
            <p class="message" [ngClass]="{'error-message': errorMessage}">
                {{ errorMessage ? errorMessage : 'No password found in the file.' }}
            </p>
        </ng-container>
    </div>
</div>