.bg-container {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/pdf_background_image.jpg");
  background-size: cover;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid#424447;
  border-left: 1px solid#424447;
  border-right: 1px solid#424447;
  border-bottom: 1px solid#424447;
  box-sizing: border-box;
}

.content {
  flex: 1;
  overflow: auto;
}
