.bg-container {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/pdf_background_image.webp");
  background-size: cover;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.content {
  flex: 1;
  overflow: auto;
}
