<div
  class="container d-flex flex-column align-items-center justify-content-center"
  style="min-height: 50vh"
>
  <h3>Enter Password to Unlock PDF</h3>
  <mat-form-field class="mt-5">
    <input
      matInput
      type="{{ isHidePassword ? 'text' : 'password' }}"
      placeholder="Password"
      [(ngModel)]="password"
    />
    <mat-icon
      matSuffix
      class="grey-disable-color"
      (click)="toggleShowPassword()"
      >{{ isHidePassword ? "visibility_off" : "visibility" }}</mat-icon
    >
  </mat-form-field>
  <button type="button" class="btn button-color" (click)="unlockPDF()">
    Confirm
  </button>
  <p *ngIf="error" class="error-message pt-5">{{ error }}</p>
</div>
