.button-color {
  background-color: #252627;
  color: #fff;
}

.text-color {
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
p,
footer,
.btn {
  font-family: "Titillium Web", sans-serif !important;
}

h1 {
  font-size: 46px !important;
}

h3 {
  font-size: 20px !important;
}

.smaller-image {
  max-width: 80px;
  height: auto;
  margin: 0 auto;
}

.btn {
  margin-top: 10px;
  font-size: 20px;
}

.success-button-color {
  background-color: #42aa5c;
  color: #fff;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #2b60af;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    margin: 8px;
    text-align: center;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #de0202;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    margin: 8px;
    text-align: center;
  }
  &.view-snackbar {
    --mdc-snackbar-container-color: #2b60af;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #fff;
  }
}

.text-error {
  color: #f44336;
  font-weight: 500;
}

.fs-20 {
  font-size: 20px;
}
