<div class="container text-center mt-5">
  <h1 class="coming-soon">
    <span class="text-danger">C</span>
    <span class="text-warning">o</span>
    <span class="text-success">m</span>
    <span class="text-primary">i</span>
    <span class="text-info">n</span>
    <span class="text-indigo">g</span>
    <span class="text-purple">&nbsp;</span>
    <span class="text-danger">s</span>
    <span class="text-warning">o</span>
    <span class="text-success">o</span>
    <span class="text-primary">n</span>
    <span class="text-info">.</span>
    <span class="text-indigo">.</span>
    <span class="text-purple">.</span>
    <span class="text-danger">!</span>
  </h1>
</div>
