<div class="container text-center">
  <h1 class="mt-5 text-color">Welcome......!</h1>
  <h2 class="mt-3 text-color">Please select any of our services</h2>
  <div class="row justify-content-center mt-5">
    <div class="col-md-4 col-sm-12">
      <div class="mb-3 pt-5">
        <img
          src="assets/images/pdf_icon.webp"
          alt="password-remover"
          class="img-fluid smaller-image"
        />
      </div>
      <button
        type="button"
        class="btn button-color btn-lg btn-block"
        [routerLink]="['/pdf/select-pdf-files']"
      >
        PDF Password Remover
      </button>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="mb-3 pt-5">
        <img
          src="assets/images/image_icon.webp"
          alt="image-compressor"
          class="img-fluid smaller-image"
        />
      </div>
      <button
        type="button"
        class="btn button-color btn-lg btn-block"
        [routerLink]="['/image/select-image']"
      >
        Image Compressor
      </button>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="mb-3 pt-5">
        <img
          src="assets/images/internationalization.webp"
          alt="internationalization"
          class="img-fluid smaller-image"
        />
      </div>
      <button
        type="button"
        class="btn button-color btn-lg btn-block"
       (click)="navigateToi18n()"
      >
        Angular Internationalization or i18n
      </button>
    </div>
  </div>
</div>
