<div class="container">
    <h1 class="text-center mt-5">Welcome......!</h1>
    <h3 class="text-center">Please select any of our services</h3>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 col-sm-12 mb-3">
            <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="'/pdf/select-pdf-files'">PDF Remove Password</button>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="'/image/select-image'">Image Compressor</button>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <button type="button" class="btn btn-danger btn-lg btn-block" [routerLink]="'/i18n/change-language'">Angular Internationalization or i18n</button>
        </div>
    </div>
</div>